include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })
include components/menu.pug
include components/icon.pug
include components/breadcrumb.pug
include components/pugination.pug
include components/soc.pug
include components/pic.pug
include components/img.pug
include components/btn.pug


mixin arrow()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		+icon('chevron-left')
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		+icon('chevron-right')
//- /arrow for swiper-slider

mixin ie11()
	//- modernizer and for ie11

	<!--[if lt IE 11]><p   class="browsehappy container">К сожалению, вы используете устаревший браузер. Пожалуйста, <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>, чтобы улучшить производительность, качество отображаемого материала и повысить безопасность.</p><![endif]-->

mixin category-item(i, t)
	.col-6.col-md-4.col-lg-3
		+b.category-item(href='#')
			+e.img-wrap
				+pic(`${i}`, '', 0)
			+e.caption
				+e.title!= t
				+e.amount.text-secondary 198 товаров

mixin card-item(bg,t)
	.col-6.col-md-4.col-lg-3
		+b.card-item.bg-wrap(href='#')
			+pic(`catalog-${bg}.png`,"bg",0).picture-bg
			+e.caption
				+e.title!= (t || "Сборочный комплект двигателя 740.31 ЯЗДА Р0 (740.31-1000600-08)")
				+e.price.h5='385 000 ₽'
				+e.btn Подробнее

mixin card-item2(bg,c,t)
	div(class=(c || "col-6 col-md-4 col-lg-3"))
		+b.card-item.bg-wrap(href='#')
			+pic(`catalog-${bg}.png`,"bg",0).picture-bg
			+e.caption
				+e.title!= (t || "Сборочный комплект двигателя 740.31 ЯЗДА Р0 (740.31-1000600-08)")
				+e.price.h5='385 000 ₽'
				+e.btn Подробнее

mixin agreement
	+b.agreement
		+in-c()(checked)
			+e.SPAN.text.form-check-label Я&nbsp;согласен на&nbsp;обработку моих персональных данных в&nbsp;соответствии с&nbsp;#[a(href='#') Условиями]


mixin tel-n-social(l, t)
	+b.tel-n-social
		a.strong(href=`${l}`)!= t
		+b.soc
			+item-sos
				img(src="img/svg/telegtam.svg" alt="")
			+item-sos
				img(src="img/svg/viber.svg" alt="")
			+item-sos
				img(src="img/svg/whatsapp.svg" alt="")

mixin cb(type)
	+e.LABEL.label-modal
		input(type="checkbox" name="btn").btn-check.btn-check-modal
		span.btn.btn-info.btn-info-modal.btn-sm=type

mixin CheckButtons(label)
	+e.input-wrap.form-group
		.row
			+cb('Евро-1')
			+cb('Евро-2')
			+cb('Евро-3')
			+cb('Евро-4')
			+cb('Евро-5')
			block

mixin page-head(btns,t, ...items)
	+b.page-head
		.container
			+breadcrumb('Главная', ...items)
			.row
				.col
					h1= t
				if btns
					.col-auto
						block
						
//list-group-item.list-group-item-action(href='#')
mixin page-body(btns,t, ...items)
	.container.container--main
		.row.row--main
			.col-3
				.list-block
					.list-group
						mixin item(i, t, a)
							a(class!= ('list-group-item list-group-item-action '+ a || 'list-group-item list-group-item-action' ))
								+pic(`categories-${i}.png`, '', 0)
								span!= t
						+item(1,'Двигатели','active')
						+item(2,`Сборочные комплекты&nbsp;двигателя`, ``)
						+item(1,'Блоки цилиндров', ``)
						+item(1,'Валы коленчатые', ``)
						+item(1,'Цилиндропоршневая группа', ``)
						+item(1,'Запчасти двигателей', ``)
						+item(1,'Топливная система', ``)
						+item(1,'Двигатели Cummins', ``)
						+item(3,'Long/Short Block Cummins', ``)
						+item(4,'Коробки передач', ``)
						+item(1,'Главные передачи', ``)
						+item(1,'Коробки<br />раздаточные', ``)
			.col-9.col--ph
				+page-head(btns,t, ...items)
				block

//list-group-item.list-group-item-action(href='#')
mixin page-body04(btns,t, ...items)
	+b.page-body04.section#page-body04&attributes(attributes)
		.container
			.row.row--search
				.col-xl-9.col-12.col--search
					+page-head(btns,t, ...items)
					+e.input-search
						+input()#search
							button(type="button")
					+e.caption-search
						+e.title!=`Вы искали:&nbsp;`
							span двигатель
						+e.count Найдено на сайте: 82
					+e.result
						mixin str-search(t)
							a(href="#")
								.row
									span!=t
									button(type="button")
										+icon('arrow')
						+str-search('Двигатель 740.31 (740.31-1000400)')
						+str-search('Двигатель 740.11 (740.11-1000400)')
						+str-search('Двигатель 740.31 (740.31-1000400)')
						+str-search('Двигатель 740.11 (740.11-1000400)')
						+str-search('Двигатель 740.31 (740.31-1000400)')
						+str-search('Двигатель 740.11 (740.11-1000400)')
						+str-search('Двигатель 740.31 (740.31-1000400)')
						+str-search('Двигатель 740.11 (740.11-1000400)')
					+e.btn.btn-light
						+icon('refresh')
						span Показать еще
				.col-xl-3.col-12.col--help
					+e.help
						+icon('question')
						h4 Нужна помощь?
						+e.caption-help
							.span-first Не&nbsp;можете найти необходимую информацию или&nbsp;товар?
							.span-second Вы&nbsp;всегда можете обратиться&nbsp;к нам по контактам&nbsp;указанным ниже. Мы&nbsp;будем рады помочь!
							+e.contact
								div.div-first
									.span-call Звонок бесплатный
									a.strong(href=`tel:+78007008572`) 8(800)700-85-72
								div
									.span-mail По всем вопросам
									a.strong(href=`mailto:zapchasty-kama@yandex.ru`)='zapchasty-kama@yandex.ru'
						button.btn.btn-primary(type="button") Оставить заявку

mixin page-body05(btns,t, ...items)
	.container.container--main
		.row.row--main
			.col-3
				.list-block
					.list-group
						mixin item(i, t, a)
							a(class!= ('list-group-item list-group-item-action '+ a || 'list-group-item list-group-item-action' ))
								+pic(`categories-${i}.png`, '', 0)
								span!= t
						+item(1,'Двигатели','')
						+item(2,`Сборочные комплекты&nbsp;двигателя`, ``)
						+item(1,'Блоки цилиндров', ``)
						+item(1,'Валы коленчатые', ``)
						+item(1,'Цилиндропоршневая группа', ``)
						+item(1,'Запчасти двигателей', ``)
						+item(1,'Топливная система', ``)
						+item(1,'Двигатели Cummins', ``)
						+item(3,'Long/Short Block Cummins', ``)
						+item(4,'Коробки передач', ``)
						+item(1,'Главные передачи', ``)
						+item(1,'Коробки<br />раздаточные', ``)
			.col-9.col--ph
				+page-head(btns,t, ...items)
					+shop-btns()
				block

mixin shop-btns()
	+b.shop-btns
		a.print-btns(href="#")
				+e.BUTTON.print(type="button")
				span Распечатать
		a.pdf-btns(href="#")
			+e.BUTTON.pdf(type="button")
			span Скачать PDF

mixin tr-product()
	tr.tr-product
		+e.TD.td-pic
			a(href="#")
				+pic('catalog-3.png','bg',0)
		+e.TD.td-caption
			.title Двигатель 740.11 (740.11-1000400)
			.price Цена: 540 000 ₽
		+e.TD.td-count
			.row
				+e.btn--minus(type="button")
				input(type="text" value="1")
				+e.btn--plus(type="button")
		+e.TD.td-close
			+e.div-close
				+icon('close')

mixin shop-content()
	+b.shop-content
		table
			+tr-product
			+tr-product
			+tr-product
		.final-price() Итого: 540 000 ₽

mixin shop-form(t)
	+b.shop-form
		h2 Оформление заказа
		+e.caption Заполните форму, и&nbsp;наш менеджер свяжется с&nbsp;Вами в&nbsp;ближайшее время для уточнения деталей заказа.
		+form-wrap()
			.row
				.col-12.col-md-4
					+input('Ваше имя')
				.col-12.col-md-4
					+input(`Ваш телефон`, 'tel')
				.col-12.col-md-4
					+input(`Ваш e-mail`, 'email')
				.col-12
					+input(`Ваш комментарий к заказу`, 'textarea')
				.col-md-auto.col-12
					+e.btn.btn.btn-primary Оформить заказ
				.col-md.col-12
					+agreement

mixin page404(t)
	+b.page404
		.container
			+e.logo
				img(src="img/svg/logo-full.svg" alt="...")
			+pic('pic404','',0).pic404
			h1 Страница не найдена
			+e.caption Неправильно набран адрес, или такой страницы не&nbsp;существует.
			.row.row-btn
				+e.btn.btn.btn-primary Вернуться на главную